{% extends "JSPHPBundle::layout.html.twig" %}

{% block content %}
    <h1>authors</h1>
    <a target="_blank" href="http://pl.gravatar.com/profiles/siciarek"><img src="https://secure.gravatar.com/avatar/d4b77615f3bd9f43f109bee92c908e01?s=210" /></a>
{% endblock %}
