{% extends "JSPHPBundle::layout.html.twig" %}

{% block content %}
    <style type="text/css">
        div#functions-index div.column {
            float: left;
            width: {{ 100 / cols }}%;
        }

        div#functions-index div.initial {
            padding-top: 16px;
            color: #316231;
            font-weight: normal;
            font-style: italic;
            font-size: 28px;
            font-family: Georgia, "Times New Roman", Times, serif;
        }

        div#functions-index div#fix {
            clear: both;
        }

        div#functions-index div.column ul li {
            padding: 0;
            margin: 0;
        }

        div#functions-index div.column ul li a {
            color: #313131;
        }
    </style>

    <h1>functions</h1>

    <p>Currently implemented * Packages * Missing * Complete list</p>

    <div id="functions-index">

        {% for col in list %}
            <div class="column">
                {% for initial, functions in col %}
                <div class="initial">{{ initial }}</div>
                <ul>
                    {% for func in functions %}
                    <li>{{ link_to(url("_function", {"function" : func}), func, {"target":"_blank"}) }}</li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </div>
        {% endfor %}

        <div id="fix"></div>
    </div>
{% endblock %}
